/*footeer*/

.footer {
  width: 100vw;
  background: #ce9645;
}

.footer__rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ce9645;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}


/*Tablet*/
@media screen and (max-width: 768px) {

  /*Footer*/
  .footer__rodape {
    font-size: 1.2rem;
  }
}

/*Mobile*/
@media screen and (max-width: 425px) {

  /*Footer*/
  .footer__rodape {
    font-size: 0.8rem;
    overflow-y: auto;
  }
}